
.blogListsStyle{
    height: 100%;
    width: 100vw;
    /* min-width: 1080px; */
    padding: 50px 100px 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blogListsWrapperLoadedFalse{
    width: 100%;
    min-width: 240px;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));;
    gap: 40px;
    margin-bottom: 50px;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.blogListsWrapperLoadedTrue{
    width: 100%;
    min-width: 240px;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));;
    gap: 40px;
    margin-bottom: 50px;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease, transform 0.5s ease;
}
.listContentContainer{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 320px;
    max-width: 250px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border-radius: 20px;
}
.listImgContainer{ 
    height: 180px;
    border-radius: 20px 20px 0 0;
    min-width: 120px;
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}


/* A list Box */
.contentContainer{ 
    width: 100%;
    height: 180px;
    border-radius: 0 0 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.listTitle{
    margin: 5px;
    font-weight: 700;
    width: 220px;
    height: 45px;
    display: -webkit-box;
    word-wrap: break-word;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;

}

.listContent{
    margin: 5px 10px 5 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 220px;
    height: 20px;
    color: #7A7A84;
    font-size: 12px;
    font-weight: 500;
}

.listBtn{
    border: none;
    outline: none;
    background-color: inherit ;
    color: #7A7A84;
    cursor: pointer;
}

.contentIconContainer{
    margin: 15px 0px 0px 0px;
    width: 90%;
    height: 30px;
    display: flex;
    justify-content: space-around;
}
.contentDateContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.sourceContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.contenDateImg{
    width: 15px;
    height: 15px;
}
.contentDate{
    width: 80px;
    margin: 0px 5px 0px 5px;
}
.sourceFromImg{
    width: 15px;
    height: 15px;
}
.contentDataSpan {
    margin: 5px 10px 5 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 220px;
    height: 20px;
    color: #7A7A84;
    font-size: 12px;
    font-weight: 500;
    width: 80px;
    margin: 0px 5px 0px 5px;
}
.contentAuthorSpan{
    margin: 5px 10px 5 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 220px;
    height: 20px;
    color: #7A7A84;
    font-size: 12px;
    font-weight: 500;
    width: 80px;
    margin: 0px 5px 0px 5px;
}


/* Link Tag Style */
.LinkStyle{
    text-align: center;
    text-decoration: none; 
    color: inherit;
}

