


.navBarWrapper{
    height: 80px;
    display: flex;
    align-items: center;
    border-bottom: solid 1.5px #E5E5E5;
    background-color: #FFFFFF;
}

.navbarContainer{
    min-width: 930px;
    width: 100vw;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.titleContainer{
    min-width: 140px;
    max-width: 140px;
    width: 140px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 20px;
}
.titleContainer > h1{
    margin:0;
    color: #2E556A;
}
.titleContainer > img {
    width: 47px;
    height: 32px;
    background-color: #ffffff;
}
.searchContainer{
    min-width: 250px;
    max-width: 400px;
    width: 350px;
    position: relative;
    height: 45px;
    margin-left: 20px;
    margin-right: 10px;
}
.searchContainer > input {
    width: 100%;
    margin-top: 5px;
    border: 1px solid #bbb;
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 14px;
    /* focus outline: 2px solid #2E556A; */
}

.searchContainer > input:focus {
    outline:none;
}

.searchContainerImg {
    position : absolute;
    width: 17px;
    top: 13.5px;
    right: 20px;
    margin: 0;
}
.searchBtn {
    position: absolute;
    right: 7px;
    height: 30px;
    background-color: #e2e2e2;
    border-radius: 5px;
}
.manuContainer{
    min-width: 410px;
    height: 45px;
    display: flex;
    align-items: center;
}
.manuContainer > ul {
    display: flex;
    margin: 0;
}
.manuContainer > ul > li {
    margin: 0px 15px;
    font-weight: 800;
    color: #474747;
    list-style-type: none;
    cursor: pointer;
}
.userContainer{
    height: 45px;
    display: flex;
    align-items: center;
}
.signInbButton{
    margin: 10px;
    display: block;
    position: relative;
    float: left;
    height: 30px;
    width: 85px;
    padding: 0;
    margin: 10px 20px 10px 0;
    font-weight: 600;
    text-align: center;
    border: 0px;
    line-height: 22px;
    color: #ffffff;
    border-radius: 5px;
    transition: all 0.2s ;
    background-color: #0BCF4E;
    cursor: pointer;
    /* &:hover{
        background-color: #97c9a7;
    } */
}
.logInButton {
    margin: 10px;
    display: block;
    position: relative;
    float: left;
    height: 30px;
    width: 85px;
    padding: 0;
    margin: 10px 20px 10px 0;
    font-weight: 600;
    text-align: center;
    border: 0px;
    line-height: 22px;
    color: #ffffff;
    border-radius: 5px;
    transition: all 0.2s ;
    background-color: #548EAD;
    cursor: pointer;
    /* .log-in-button:hover{
        background-color: #7399ac;
    } */
}




.LinkStyle {
    text-decoration: none;
    color: #474747;
}
.LinkBtnStyle{
    text-decoration: none;
    color: #ffffff;
}

