






/* .dashboardWrapper{
    min-width: 1080px;
    display: flex;
    flex-direction: column;
    background-color: #fdfdfd
};

.dashboardNavBarWrapper{
    width: 100px;
    background-color: #9c806c;
    display: flex;
    flex-direction: column;
    justify-content: center;
};

.dashboardContentWrapper{
    width: 800px;
    height: 100%;
    background-color: #7a441d;
    margin-left: 10px;
};
 */
