



.dashboardWrapper{
    display: flex;
}

.dashboardNavBarWrapper{
    width: 100px;
    background-color: #9c806c;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dashboardContentWrapper{
    width: 100vw;
    min-width: 1080px;
    height: 100%;
    padding: 30px 50px 30px 50px;
}

